* {
   
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url("img/back.jpg");
    background: black;
    
}
video{
    max-width: 100%;
}
.container{
    width:70%;
    margin:auto;
    
}

.head1{
    width:100%;
    
    /* background-color:red; */
    /* margin-bottom: 5px; */
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;
    color:rgb(224, 149, 9);
    margin-top:10px;
    border:3px dashed whitesmoke;
    border-radius:25px;
    
    
}

.head1:hover{
    color:yellow;
}

.parent2{
    width:100%;
    height:200px;
    /* background-color: black; */
    margin-top:20px;
    padding:10px;
   
}


.box3{
    width:100%;
    height:30px;
    /* background-color:red; */
    margin-top:40px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    
}
.ahref1 {
    text-decoration:none;
    color:blueviolet;
}
.ahref1:hover{
    color:green;
    font-size: larger;
}





.head{
    width:100%;
    height:10px;
    /* background-color:white; */
    margin-bottom: 5px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color:white;
}

.head:hover{
    color:yellow;
}

.parent1{
    width:100%;
    height:400px;
    /* background-color: aqua; */
    display:block;
    padding:10px;
    margin-top:20px;
}

.box{
    width:100%;
    height:300px;
    /* background-color:antiquewhite; */
    display:flex;
    align-items:center;
}
.box1{
    width:200px;
    height:200px;
    /* background-color:blueviolet; */
    margin-left:10px;
    margin-right:10px;
    text-align: center;
    color:green;
}
.resim1{
    width:100px;
    height:100px;
    border-radius:100%;
}
.box2{
    width:1000px;
    height:300px;
    
    font-family: 'Bebas Neue', cursive;
    color:white;
    padding-top:50px;
    overflow: auto;
}
ul { list-style: none }




.blog{
    width:100%;
    height:400px;
    background-color:aqua;
    display:flex;

}

.blog1{
    width:50%;
    height:400px;
    background-color:black;
    overflow:auto;
    padding:10px;
    
    
    
}
.baslik{
    width:100%;
    height:50px;
    background-color:black;
    
}
.h2{
   text-align: center;
    color:rgb(214, 22, 22);
}
.lorem{
    color:white;
    
}

.blog2{
    width:50%;
    height:400px;
    background-color:black;
    overflow:auto;
    padding:10px;
}

.baslik1{
    width:100%;
    height:50px;
    background-color:black;
}

.video{
    width:100%;
    height:450px;
    background-color:black;
    display:block;
    margin-top:20px;
    
}

.videobaslik{
    width:100%;
    height:30px;
    background-color:black;
    text-align:center;
    color:green;
}
.video1{
    width:100%;
    justify-content: center;
    text-align: center;
    margin-top:10px;
}
.videoaciklama{
    width:100%;
    height:100px;
    background-color:black;
    overflow:auto;
    color:white;
    margin-bottom:10px;
}

.contact{
    width:100%;
    height:400px;
    background-color:black;
    display:flex;
    margin-top:100px;
    
}

.contact1{
    width:50%;
    height:400px;
    background-color:black;
    text-align: center;
    
}




.contact2{
    width:50%;
    height:400px;
    background-color:clack;
}

.table{
    width:100%;
   
}
table, th, td {
    border:1px solid black;
  }

  .tr{
    color:white;
  }
  .user{
    color:red;
  }
  .th{
    color:yellow
  }

  .iletisim{
    width:100%;
    height:200px;
    background-color:black;
    display:flex;
    justify-content: space-around;
  }
  .parca1{
    width:30%;
    background-color: black;
    text-align: center;
  }

  .parca2{
    width:30%;
    background-color: black;
    text-align: center;
  }

@media screen and (max-width:500px)
{
    .contact{
        display:block;
    }
    .contact1{
        width:100%;
    }
    .contact2{
        width:100%;
    }
    .blog{
        display:block;
    }
    .blog1{
        width:100%;
    }
    .blog2{
        width:100%;
    }
}
